%center
  %hr
  %h1
    =link_to @event.name, event_url(@rsvp.event), only_path: false   
    =" is a No Go."
  %hr
  %h4
    ="This event is not happening.  So don't bother showing up because no one else is going to be there."   
  %hr
  %h4
    = "Thank you for using The Sipping Point.  Better luck next time."
  %hr
  %h4
    = image_tag('http://i.imgur.com/gPZGjPA.gif')
  %hr  
  %h4
    ="This event brought to you by the evil geniuses at"
    =link_to 'The Sipping Point', root_url, only_path: false