%section.static-header
  %div.container
    -if @user.rsvps.count < 1
      %h1
        You have no events.  
    -else
      -@my_future_events.in_groups_of(3).each do |row|
        %div.row
          -row.each do |rsvp|
            %div.col-md-4
              -if rsvp
                .panel.translucent{id: rsvp.hash_key.to_s + '_block'}
                  .panel-body
                    %a{href: event_path(rsvp.event)}
                      .panel-text
                        .grid-cover-photo
                          -if rsvp.event.cover_photo_url
                            %img{src: rsvp.event.cover_photo_url}
                          -else
                            %img{src: '/assets/sp_logo.png'}
                          %span.overlay-text
                            =rsvp.simple_status_string
                        .sp-font.future-grid-title
                          =rsvp.event.name
                        .div.row.small-text
                          %div.col-md-6
                            %i.fa.fa-calendar.panel-text
                            =rsvp.event.display_time
                          %div.col-md-6
                            =rsvp.event.yes_count_phrase
                        
                        -if rsvp.event.status == Event::CONFIRMED
                          .progress.zero-margin-below
                            .progress-bar.progress-bar-info.zero-margin-below{:role => "progressbar", :style => "width:" + rsvp.event.percent_complete.to_s + "%"}
                              ="Confirmed!"
                        -else 
                          .progress.zero-margin-below
                            .progress-bar.progress-bar-danger.progress-bar-striped.active.zero-margin-below{:role => "progressbar", :style => "width:" + rsvp.event.percent_complete.to_s + "%"}
                              =rsvp.event.percent_complete.round.to_s + "%"
                          %div.row.small-text
                            ="Deadline to RSVP: " + rsvp.event.display_deadline
                    -if rsvp.event.expired? or rsvp.no?
                      %div.row.spacer.panel-text.event_trash_button{ "data-id" => rsvp.hash_key }
                        %i.fa.fa-trash.panel-text
                        Delete Invitation     



      %h2.sp-font
        Past Events                 
      -@my_prior_events.in_groups_of(4).each do |row|
        %div.row
          -row.each do |rsvp|
            %div.col-md-3
              -if rsvp
                %a{href: event_path(rsvp.event)}
                  .panel.translucent
                    .panel-body
                      .panel-text
                        .grid-cover-photo
                          -if rsvp.event.cover_photo_url
                            %img{src: rsvp.event.cover_photo_url}
                          -else
                            %img{src: '/assets/sp_logo.png'}
                        =rsvp.event.name
       


  %center
    %h4{:id => 'link_to_deleted_events', :style => "display:" + (@hidden_rsvps.count > 0 ? 'normal' : 'none' ) + ';'}
      = link_to 'My Deleted Events', hidden_events_user_url(@user), :class => 'white-link'
  

%div.fill-footer

:javascript
// On click for a button
  $(".event_trash_button").click(function(){
       // Get the id data attribute
       var id = $(this).data("id");
       var block = document.getElementById(id + '_block');
       var delete_link = document.getElementById('link_to_deleted_events');
       delete_link.style.display = 'block';
       block.remove();
       $.ajax({
        type: 'PATCH',
        url: '#{root_url}' + 'rsvps/' + id + '/hide'
       });
  });

  


