%section.static-header
  %div.container
    -if @user.rsvps.count < 1
      %h1
        You have no events.  
    -else
      -if @new_rsvps.count > 0
        %h2
          -if @new_rsvps.count > 1
            =@new_rsvps.count.to_s + " New Invitations"
          -else
            =@new_rsvps.count.to_s + " New Invitation"
        .panel.translucent
          .panel-body
            .panel-text
              %table.table.table-center.table-striped
                %tr
                  %th.text-center
                    Name
                  %th.text-center
                    Date
                  %th.text-center
                    Deadline
                  %th.text-center
                    Respond
                  -@new_rsvps.each do |rsvp|
                    %tr
                      %td
                        =link_to rsvp.event.name, event_path(rsvp.event)
                      %td
                        -if rsvp.event.time
                          =rsvp.event.display_time
                      %td
                        -if rsvp.event.deadline
                          =rsvp.event.display_deadline
                      %td 
                        =link_to 'Click to RSVP', edit_rsvp_path(rsvp)              
      
      -if @my_upcoming_events.count > 0 
        %h2
          ="Events I'm Hosting"
        .panel.translucent
          .panel-body
            .panel-text
              %table.table.table-center.table-striped
                %tr
                  %th.text-center
                    Name
                  %th.text-center
                    Date
                  %th.text-center
                    Sipping Point
                  %th.text-center
                    Deadline
                  %th.text-center
                    Confirmations
                  -@my_upcoming_events.each do |event|
                    %tr
                      %td
                        =link_to event.name, event_path(event)
                      %td
                        -if event.time
                          =event.display_time
                      %td
                        =event.threshold
                      %td
                        -if event.deadline
                          =event.display_deadline
                      %td
                        =event.rsvps.where(response: true).count
      
      -if @events_im_attending.count > 0  
        %h2
          ="Events I'm Attending"
        .panel.translucent
          .panel-body
            .panel-text
              %table.table.table-center.table-striped
                %tr
                  %th.text-center
                    Name
                  %th.text-center
                    Date
                  %th.text-center
                    Deadline
                  %th.text-center
                    Status
                  -@events_im_attending.each do |rsvp|
                    %tr{:id => rsvp.hash_key + '_row'}
                      %td
                        =link_to rsvp.event.name, event_path(rsvp.event)
                      %td
                        -if rsvp.event.time
                          =rsvp.event.display_time
                      %td
                        -if rsvp.event.deadline
                          =rsvp.event.display_deadline
                      %td 
                        =rsvp.event.short_description 

      -if @events_i_declined.count > 0  
        %h2
          ="Events I'm Not Attending"
        .panel.translucent
          .panel-body
            .panel-text
              %table.table.table-center.table-striped
                %tr
                  %th.text-center
                    Name
                  %th.text-center
                    Date
                  %th.text-center
                    Deadline
                  %th.text-center
                    Status
                  %th.text-center
                    Delete
                  -@events_i_declined.each do |rsvp|
                    %tr{ :id => rsvp.hash_key + '_row'}
                      %td
                        =link_to rsvp.event.name, event_path(rsvp.event)
                      %td
                        -if rsvp.event.time
                          =rsvp.event.display_time
                      %td
                        -if rsvp.event.deadline
                          =rsvp.event.display_deadline
                      %td 
                        =rsvp.event.short_description 
                      %td.panel-text.event_trash_button{ "data-id" => rsvp.hash_key }
                        %i.fa.fa-lg.fa-trash-o                   
      
      -if @my_prior_events.count > 0
        %h2
          ="Past Events"
        .panel.translucent
          .panel-body
            .panel-text
              %table.table.table-center.table-striped
                %tr
                  %th.text-center
                    Name
                  %th.text-center
                    Date
                  %th.text-center
                    Sipping Point
                  %th.text-center
                    Deadline
                  %th.text-center
                    Confirmations
                  %th.text-center
                    Status
                  %th.text-center
                    Delete
                  -@my_prior_events.each do |rsvp|
                    %tr{ :id => rsvp.hash_key + '_row'}
                      %td
                        =link_to rsvp.event.name, event_path(rsvp.event)
                      %td
                        -if rsvp.event.time
                          =rsvp.event.display_time
                      %td
                        =rsvp.event.threshold
                      %td
                        -if rsvp.event.deadline
                          =rsvp.event.display_deadline
                      %td
                        =rsvp.event.rsvps.where(response: true).count
                      %td
                        =rsvp.event.short_description 
                      %td.panel-text.event_trash_button{ "data-id" => rsvp.hash_key }
                        %i.fa.fa-lg.fa-trash-o    

  %center
    %h4{:id => 'link_to_deleted_events', :style => "display:" + (@hidden_rsvps.count > 0 ? 'normal' : 'none' ) + ';'}
      = link_to 'My Deleted Events', hidden_events_user_url(@user), :class => 'white-link'
  

%div.fill-footer

:javascript
// On click for a button
  $(".event_trash_button").click(function(){
       // Get the id data attribute
       var id = $(this).data("id");
       var row = document.getElementById(id + '_row');
       var delete_link = document.getElementById('link_to_deleted_events');
       delete_link.style.display = 'block';
       row.remove();
       $.ajax({
        type: 'PATCH',
        url: '#{root_url}' + 'rsvps/' + id + '/hide'
       });
  });

