%section.static-header
  %div.container
    -if @user.rsvps.count < 1
      %h1
        You have no events.  
    -else
      -@my_future_events.in_groups_of(3).each do |row|
        %div.row
          -row.each do |rsvp|
            %div.col-md-4
              -if rsvp
                %a{href: event_path(rsvp.event)}
                  .panel.translucent
                    .panel-body
                      .panel-text
                        .grid-cover-photo
                          -if rsvp.event.cover_photo_url
                            %img{src: rsvp.event.cover_photo_url}
                          -else
                            %img{src: '/assets/sp_logo.png'}
                        =rsvp.event.name



      %h2
        Past Events                 
      -@my_prior_events.in_groups_of(4).each do |row|
        %div.row
          -row.each do |rsvp|
            %div.col-md-3
              -if rsvp
                %a{href: event_path(rsvp.event)}
                  .panel.translucent
                    .panel-body
                      .panel-text
                        .grid-cover-photo
                          -if rsvp.event.cover_photo_url
                            %img{src: rsvp.event.cover_photo_url}
                          -else
                            %img{src: '/assets/sp_logo.png'}
                        =rsvp.event.name
       


  %center
    %h4{:id => 'link_to_deleted_events', :style => "display:" + (@hidden_rsvps.count > 0 ? 'normal' : 'none' ) + ';'}
      = link_to 'My Deleted Events', hidden_events_user_url(@user), :class => 'white-link'
  

%div.fill-footer

:javascript
// On click for a button
  $(".event_trash_button").click(function(){
       // Get the id data attribute
       var id = $(this).data("id");
       var row = document.getElementById(id + '_row');
       var rowm = document.getElementById(id + '_row_m')
       var delete_link = document.getElementById('link_to_deleted_events');
       delete_link.style.display = 'block';
       row.remove();
       rowm.remove();
       $.ajax({
        type: 'PATCH',
        url: '#{root_url}' + 'rsvps/' + id + '/hide'
       });
  });

  


