

= simple_form_for(@event,:html => {:class => 'form-vertical' }) do |f|

  .panel.translucent
    .panel-body 
      - if @event.errors.any?
        #error_explanation
          %h2
            =pluralize(@event.errors.count, "error").to_s + "prohibited this event from being saved:<"
          %ul
            - @event.errors.full_messages.each do |message| 
              %li 
                =message

      =f.input :name, :label => "Event Name", :placeholder => "Drinks at the Shack", :hint => "What are we doing?", :input_html => {:color => "black", :size => 40, :maxlength => 50}
      =f.input :threshold, :label => "Sipping Point", :hint => "Any fewer people than this, and it's just not a party.", :collection => 1..20, :selected => 4
      =f.input :maximum_attendance, :label => "Maximum", :hint => "Any more people than this, and it's going to be too crowded.", :collection => 1..20, :include_blank => "No Limit"
      %br
      =f.input :time, as: :string, :label => "Event Date & Time", :hint => "When is this thing happening?"
      %br
      =f.input :deadline, as: :string, :label => "Deadline to RSVP", :hint => "If people don't answer by now, just assume they ain't going."

  %button.btn.btn-primary.btn-xl{:type => "submit"} Let's do it!
:javascript
  $(document).ready(function() {
    // light modification from http://codereview.stackexchange.com/questions/33527/find-next-occurring-friday-or-any-dayofweek
     var nextFridayAtEight = function() {
      var fridayIdx  = 5;
      var today      = new Date;
      // If today is friday, plan for next week.
      if (today.getDay() === 5) {
        today.setDate(today.getDate() + 7)
      }
      var resultDate = today;
    
      resultDate.setDate(today.getDate() + (7 + fridayIdx - today.getDay()) % 7);
      return resultDate;
    };

    var startDate = nextFridayAtEight();
    startDate.setHours(20);
    startDate.setMinutes(0);
    var startValue = startDate.getTime()
    var deadlineDate   = new Date(startDate.getTime());
    deadlineDate.setDate(startDate.getDate() - 1);
    console.log(startDate);
    console.log("#{@event.time}");

    // Now create the actual pickers
    $("#event_time").datetimepicker({
       format: 'D, M d g:i A',
       value: startDate,
       minDate: 0,
    });
    $("#event_deadline").datetimepicker({
       format: 'D, M d g:i A',
       value: deadlineDate,
       minDate: 0
    });
  });