

= simple_form_for(@event,:html => {:class => 'form-vertical' }) do |f|

  .panel.translucent
    .panel-body 
      - if @event.errors.any?
        #error_explanation
          %h2
            =pluralize(@event.errors.count, "error").to_s + "prohibited this event from being saved:<"
          %ul
            - @event.errors.full_messages.each do |message| 
              %li 
                =message

      =f.input :name, :label => "Event Name", :placeholder => "Drinks at the Shack", :hint => "What are we doing?", :input_html => {:color => "black", :size => 40, :maxlength => 50}
      =f.input :threshold, :label => "Sipping Point", :hint => "Any fewer people than this, and it's just not a party.", :collection => 1..20, :selected => 4
      %br
      =f.input :time, as: :datetime, :label => "Event Date & Time", :hint => "When is this thing happening?"
      %br
      =f.input :deadline, as: :datetime, :label => "Deadline to RSVP", :hint => "If people don't answer by now, just assume they ain't going."

  %button.btn.btn-primary.btn-xl{:type => "submit"} Let's do it!
  