%header
  .header-content
    .header-content-inner
      %h1
        =@event.name
      You have created your event.  It's time to invite some people and finalize it!        
      = simple_form_for @event do |f|
        .panel.translucent
          .panel-body 
            = f.input :description
            = f.input :location
            = f.input :invitee_emails, as: :text, :hint => "Enter emails separated by a comma.", :placeholder => "stacy@example.com, john@example.com", label: "Invitation Emails" 
      
        %button.btn.btn-primary.btn-xl{:type => "submit"} Save and Send Invites!
