%section.static-header
  %div.container
    %h1.static-header-title
      =@event.name
    %h3
      -if @event.status == Event::INITIALIZED
        You have created your event.  It's time to invite some people and finalize it!       
    = simple_form_for @event do |f|
      .panel.translucent
        .panel-body 
          - if @event.status == Event::INITIALIZED
            =f.input :name, :label => "Event Name", :placeholder => "Drinks at the Shack", :hint => "What are we doing?", :input_html => {:color => "black", :size => 40, :maxlength => 50}
            =f.input :threshold, :label => "Sipping Point", :hint => "Any fewer people than this, and it's just not a party.", :collection => 1..20
            =f.input :time, as: :string, :label => "Event Date & Time", :hint => "When is things thing happening?"
            =f.input :deadline, as: :string, :label => "Deadline to RSVP", :hint => "If people don't answer by now, just assume they ain't going."
            = f.input :location
          = f.input :description
          = f.input :invitee_emails, as: :text, :hint => "Enter emails separated by a comma.", :placeholder => "stacy@example.com, john@example.com", label: "Invitation Emails" 
    
      %button.btn.btn-primary.btn-xl{:type => "submit"} Save and Send Invites!
:javascript
  $(document).ready(function() {

    // Now create the actual pickers
    $("#event_time").datetimepicker({
       format: 'D, M d g:i A',
       minDate: 0,
    });
    $("#event_deadline").datetimepicker({
       format: 'D, M d g:i A',
       minDate: 0
    });
  });
