
<header>
    <div class="header-content">
        <div class="main-header">
            <h1>The Sipping Point</h1>
            <hr>
            <h2>Event Planning for Misanthropes</h2>
            <a href=<%=new_event_path%> class="btn btn-primary btn-xl wow bounceIn page-scroll">Start an Event!</a>

        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is The Sipping Point?</h2>
                <p class="text-faded">Worried no one will show up to your party?  Set The Sipping Point.</p> 
                <hr class="light">
                    <p class="text-faded">
                        1. Pick a Time & Place<br> 
                        2. Set a mininum number of guests (The Sipping Point)<br>
                        3. Invite your friends
                    </p> 
                <hr class="light">
                <p class="text-faded">If enough people RSVP before the deadline, then it's on! </p>
                <p class="text-faded">If the deadline passes without reaching The Sipping Point, the event is automatically canceled.  No worries. </p>
                     
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Feedback</h2>
                <hr class="primary">
                <p>Let us know what you think.  Sipping Point is in Beta and all feedback is welcome.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-twitter fa-3x wow bounceIn"></i>
                <p><a href="https://twitter.com/iamderekedwards">Twitter at me.</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".25s"></i>
                <p><a href="mailto:dedwards8@gmail.com">Email at me.</a></p>
            </div>
        </div>
    </div>
    
</section>
<div class="text-center">
    <%="Sipping Point " + Rails.application.config.version %>
</div>




