

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The Sipping Point</h1>
            <hr>
            <p>Because you are more fun to talk to when I'm drinking.</p>
            <a href=<%=new_event_path%> class="btn btn-primary btn-xl wow bounceIn page-scroll">Let's Drink</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is The Sipping Point?</h2>
                <p class="text-faded">Afraid no one will show up to your party?  Set a Sipping Point.</p> 
                <hr class="light">
                    <p class="text-faded">
                        1. Pick a Time & Place<br> 
                        2. Set a mininum number of guests (The Sipping Point)<br>
                        3. Invite your friends
                    </p> 
                <hr class="light">
                <p class="text-faded">If enough people RSVP "Yes" before the deadline, then it's on! </p>
                <p class="text-faded">If the deadline passes without reaching The Sipping Point, the event is canceled.  No worries. </p>
                     
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Feedback</h2>
                <hr class="primary">
                <p>Let us know what you think.  Sipping Point is in early Beta and all feedback is welcomed.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-comments-o fa-3x wow bounceIn"></i>
                <p><a href="https://docs.google.com/forms/d/1kK88K68B2ccZRO-rARtg7O_01a0zs8aPuQT-PLYTceU/viewform">Tell us what you think.</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".25s"></i>
                <p><a href="mailto:your-email@your-domain.com">sippingpointtest@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>





