<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Let's Make a New Event</h1>
            <%= render 'form' %>
        </div>
    </div>
</header>









