%section.static-header
  %div.container
    %h1.static-header-title
      ="Who Flaked Out on " + @event.name + "?"
    %h4
      Nothing is worse than flaking out on an event.  Tell us who flaked and who came through.

    =form_tag(report_event_path, method: "patch") do
      .panel.translucent
        .panel-body
          .panel-text 
            %table.table-center{:style=>"border: 1px; width: 75%"}
              -@rsvps.each do |rsvp|
                %tr
                  %td
                    %strong{:style => "font-size:20px"}
                      =rsvp.user.display_name
                  %td{:style => "font-size:20px"}
                    %input{:type => "radio", name: rsvp.user.email, :value => Rsvp::FLAKED, :checked => rsvp.attendance_report == Rsvp::FLAKED}
                      Flaked
                  %td{:style => "font-size:20px"}
                    %input{:type => "radio", name: rsvp.user.email, :value => Rsvp::SHOWED, :checked => rsvp.attendance_report == Rsvp::SHOWED}
                      Did Not Flake
                  %td{:style => "font-size:20px"}
                    %input{:type => "radio", name: rsvp.user.email, :value => Rsvp::NO_RESPONSE, :checked => rsvp.attendance_report.nil?}
                      No Response
      %button.btn.btn-primary.btn-xl{:type => "submit"} Submit

%div.fill-footer
            