%section.static-header
  %div.container
    %h1.static-header-title
      =@event.name  
    .panel.translucent
      .panel-body
        .panel-text
          %h3
            Reports Flakes to Your Event
            