%h1
  =@event.name
%p
  Description
  =@event.description
%p
  Sipping Point
  =@event.threshold
%p
  Location
  =@event.location
%p
  Date
  =@event.time
%p
  Deadline
  =@event.deadline
%p
  Rsvps
  %table
    %tr
      %td
        Name
      %td
        Email
      %td
        Response
    -@event.rsvps.each do |rsvp|
      %tr
        %td
          =rsvp.user.name
        %td
          =rsvp.user.email
        %td
          =rsvp.response


-if current_user == @event.owner
  =link_to 'Invite people and finalize the details.', edit_event_path(@event)