%header
  .header-content
    .header-content-inner
      %h1
        =@event.name  
      .panel.translucent
        .panel-body
          .panel-text
            %h4
              -if @event.status == Event::INITIALIZED
                ="Your event has been created, but no one has been invited yet."
              -elsif @event.status == Event::OPEN
                ="Your event is awaiting RSVPs"
              -elsif @event.status == Event::CONFIRMED
                ="Your event has reached The Sipping Point.  It's on!  Go have fun!"
              -elsif @event.status == Event::EXPIRED
                ="Sorry.  You event was lame and no one wanted to go, or maybe you just need better friends"
            %hr
            %h4
              Event Details

            %table.table.table-center
              %tr
                %td
                  Description
                %td
                  =@event.description
              %tr
                %td
                  Sipping Point
                %td
                  =@event.threshold
              %tr
                %td
                  Location
                %td
                  =@event.location
              %tr
                %td
                  Date & Time
                %td
                  =@event.time.strftime("%B %-d, %Y at %-I:%M%p")
              %tr
                %td
                  Deadline to Respond
                %td
                  =@event.deadline.strftime("%B %-d, %Y at %-I:%M%p")
            -if @event.rsvps.count > 0
              %hr
              %h4
                Statuses of RSVPs
              %table.table.table-center.table-striped
                %tr
                  %th.text-center
                    Name
                  %th.text-center
                    Email
                  %th.text-center
                    Going?
                - @event.rsvps.each do |rsvp|
                  %tr
                    %td
                      = rsvp.user.name
                    %td
                      = rsvp.user.email
                    %td
                      -if rsvp.response == 1
                        ="Yes"
                      -elsif rsvp.response == 0
                        ="No"
                      -else
                        =""
            - if current_user == @event.owner and @event.rsvps.count > 0
              %br
              = link_to 'Edit', edit_event_path(@event)
      
      -if current_user == @event.owner and @event.rsvps.count == 0
        %a.btn.btn-primary.btn-xl{:href => edit_event_path(@event)} Let's invite some people!