<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>
        <%= @event.name %>
      </h1>
      <p>
        Description
        <%= @event.description %>
      </p>
      <p>
        Sipping Point
        <%= @event.threshold %>
      </p>
      <p>
        Location
        <%= @event.location %>
      </p>
      <p>
        Date
        <%= @event.time %>
      </p>
      <p>
        Deadline
        <%= @event.deadline %>
      </p>
      <p>
        Status
        <%= @event.status %>
      </p>
      <p>
        Rsvps
        <table>
          <tr>
            <td>
              Name
            </td>
            <td>
              Email
            </td>
            <td>
              Response
            </td>
          </tr>
          <% @event.rsvps.each do |rsvp| %>
            <tr>
              <td>
                <%= rsvp.user.name %>
              </td>
              <td>
                <%= rsvp.user.email %>
              </td>
              <td>
                <%= rsvp.response %>
              </td>
            </tr>
          <% end %>
        </table>
      </p>
      <% if current_user == @event.owner %>
        <%= link_to 'Invite people and finalize the details.', edit_event_path(@event) %>
      <% end %>
    </div>
  </div>
</header>