- if @rsvp.event.status == Event::EXPIRED
  %h3
    This event has been canceled due to lack of interest.
-elsif @rsvp.event.status == Event::CONFIRMED
  %h3 
    This is event has reached the Sipping Point!
-else
  %h3  
    %div
      ="You have been invited, but this event won't happen unless we can get at least "
      %strong
        =@rsvp.event.threshold.to_s + " #{"person".pluralize(@rsvp.event.threshold)}"
      =" to commit before the deadline." 
  - if @rsvp.event.has_max_attendance?
    %h3
      %div
        ="Additionally, this event has a maximum of #{@rsvp.event.maximum_attendance} attendees, so RSVP as soon as possible!"
    %br
    %div.h4
      ="So far, " + @rsvp.event.yes_count_phrase + " confirmed."
  
