%header
  .header-content
    .header-content-inner
      %h1
        =@rsvp.event.name
      =simple_form_for @rsvp do |f|
        .panel.translucent
          .panel-body 
            =f.input :response, collection: {Yes: 1, No: 0}, as: :radio_buttons, label: "Are you going or what?"
  
        %button.btn.btn-primary.btn-xl{:type => "submit"} Save and Send Invites!