%header
  .header-content
    .header-content-inner
      %h1
        =@rsvp.event.name
      .panel.translucent
        .panel-body
          .panel-text  
            %h4  
              ="You have been invited, but this event won't happen unless we can get at least "
              %strong
                =@rsvp.event.threshold.to_s + " people"
              =" to come."  
      %br
      %hr
      .panel.translucent
        .panel-body
          .panel-text

            %h4
              ="Sipping Point will let you know on or before " 
              %strong
                =@rsvp.event.deadline.strftime("%A") + " " + @rsvp.event.deadline.to_date.to_formatted_s(:long_ordinal) + " at " + @rsvp.event.deadline.strftime("%l:%M %p")
              ="if this event is confirmed."
            %h3
              =link_to "View Event Details", event_url(@rsvp.event, rsvp: @rsvp.hash_key), only_path: false




      %hr        

      -if @rsvp.event.status == Event::CONFIRMED and @rsvp.response == 1
        .panel.translucent
          .panel-body
            .panel-text
              ="You are confirmed for this event."
      -else  
        =form_tag(rsvp_path, method: "patch") do 
          .panel.translucent
            .panel-body
              .panel-text
                %table.table-center{:style=>"border: 1px; width: 50%"}
                  %tr
                    %td
                      %strong
                        ="So are you in or out?"
                    %td
                      %input{:type => "radio", :name => :response, :value => 1, :checked => 1}
                        In
                    %td
                      %input{:type => "radio", :name => :response, :value => 0}
                        Out 
          %button.btn.btn-primary.btn-xl{:type => "submit"} Submit RSVP