%section.static-header
  %div.container
    %h1.static-header-title
      =@rsvp.event.name
    %div.row
      %div.col-md-2
      %div.col-md-8  
        =form_tag(rsvp_path, method: "patch") do 
          .panel.translucent
            .panel-body
              .panel-text
                = render "status_panel"
                %hr
                -if @rsvp.event.status == Event::EXPIRED
                  %h3
                    ="This event is expired.  The deadline passed before reaching the Sipping Point"
                -elsif @rsvp.event.status == Event::CONFIRMED and @rsvp.response == 1
                  %h3
                    ="You are confirmed for this event."
                -elsif @rsvp.event.is_full_up?
                  %h3
                    = "Sorry!  Too slow!  The event can't handle any more people!"      
                -else
                  %div
                    %h3
                      RSVP
                  %div.row.spacer{:style => 'text-align:center;'}
                    %div.col-xs-2
                    %div.col-xs-8.panel-text
                      %strong{:style => "font-size:20px;"}
                        ="Are you in or out?"
                  
                  %div.row{:style => 'text-align:center;'}
                    %div.col-xs-4   
                    %div.col-xs-2{:style => "font-size:20px;"}
                      %input{:type => "radio", :name => :response, :value => 1, :checked => 1, :id => 'radioYes'}
                        In
                    %div.col-xs-2{:style => "font-size:20px;"}
                      %input{:type => "radio", :name => :response, :value => 0, :id => 'radioNo'}
                        Out
                  
                  %div{id: 'excuse', :style => "display:none;"}
                    %div.row.spacer{:style => 'text-align:center; font-size:20px;'}  
                      %div.col-xs-12
                        %strong{:style => "font-size:20px;"}
                          ="Leave a Message (Optional)"
                    %div.row{:style => 'text-align:center;'} 
                      %div.col-xs-12
                        %textarea{:type => "text", :name => :excuse, :rows => 4, :style => "width:60%", :max_length => 500, :placeholder => "It's ok to say no and not leave an excuse.  But if you insist, you can leave a note here for the event organizer."}  
                  
                  %div.row.spacer{:style => 'text-align:center;'}
                    %div.col-xs-12
                      %strong{:style => "font-size:20px;"}
                        ="How do you want your name displayed?"
                  
                  %div.row{:style => 'text-align:center; font-size:20px;'}
                    %div.col-xs-12
                      -if @rsvp.user.name.blank?
                        %input{:type => "string", :name => :name, :placeholder => "Your Name"}
                      -else 
                        %input{:type => "string", :name => :name, :value => @rsvp.user.name}

          %button.btn.btn-primary.btn-xl{:type => "submit"} Submit RSVP
          %h4
            =link_to "View Event Details", event_url(@rsvp.event, rsvp: @rsvp.hash_key), only_path: false, :class => 'white-link'

%div.fill-footer

:javascript
  $('#radioYes').change(function() {
    $('#excuse').hide();
  });

  $('#radioNo').change(function() {
    $('#excuse').show();
  });