%header
  .header-content
    .header-content-inner
      %h1
        =@rsvp.event.name

      =form_tag(rsvp_path, method: "patch") do 
        .panel.translucent
          .panel-body
            .panel-text
              %table.table-center{:style=>"border: 1px; width: 50%"}
                %tr
                  %td
                    %strong
                      So are you going or what?
                  %td
                    %input{:type => "radio", :name => :response, :value => 1, :checked => 1}
                      Yes
                  %td
                    %input{:type => "radio", :name => :response, :value => 0}
                      No 
        %button.btn.btn-primary.btn-xl{:type => "submit"} Submit RSVP