.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
  color: #000000;
}

.simple_form div.input {
  margin-bottom: 10px;
  color: #000000;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #222;
  display: block;
  font-style: italic;
}

.translucent {
  opacity: 0.9;
}

.panel-text {
  color: #000 !important;
}

.message-header-text {
  color: #000 !important;
  font-size: 12px;
}

.message-body-text {
  color: #000 !important;
  font-size: 18px;
}

.message-time-text {
  color: #000 !important;
  font-size: 10px;
}

.table-center {
  display:table;
  text-align:center;
  margin-left:auto; 
  margin-right:auto;
}

.simple_form label {
  width: 150px;
}

.black-text {
  color: #000 !important;
}

.white-text {
  color: #FFF !important;
}

.error_notification {
  color: #000 !important;
}

.alert-text {
  color: red;
  font-size: 23px;
}

.very-large-font {
  font-size: 50px;
}

.black-border {
   -webkit-text-stroke: 2px black;
}

.small-black-border {
   -webkit-text-stroke: 1px black;
}

.white-link {
  color: #FFF !important;
  opacity: .7;
  text-decoration: none;
}

.white-link:hover {
  opacity: 1;
  text-decoration: none;
}

.spacer {
    margin-top: 25px; /* define margin as you see fit */
}
