.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
  color: #000000;
}

.simple_form div.input {
  margin-bottom: 10px;
  color: #000000;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #222;
  display: block;
  font-style: italic;
}

.translucent {
  opacity: 0.9;
}

.panel-text {
  color: #000 !important;
}

.message-header-text {
  color: #000 !important;
  font-size: 12px;
}

.message-body-text {
  color: #000 !important;
  font-size: 18px;
}

.message-time-text {
  color: #000 !important;
  font-size: 10px;
}

.table-center {
  display:table;
  text-align:center;
  margin-left:auto; 
  margin-right:auto;
}

.simple_form label {
  width: 150px;
}

.black-text {
  color: #000 !important;
}

.white-text {
  color: #FFF !important;
}

.error_notification {
  color: #000 !important;
}

.alert-text {
  color: red;
  font-size: 23px;
}

.very-large-font {
  font-size: 50px;
}

.black-border {
   -webkit-text-stroke: 2px black;
}

.small-black-border {
   -webkit-text-stroke: 1px black;
}

.white-link {
  color: #FFF !important;
  opacity: .7;
  text-decoration: none;
}

.white-link:hover {
  opacity: 1;
  text-decoration: none;
}

.spacer {
    margin-top: 25px; /* define margin as you see fit */
}

.small-spacer{
  margin-top: 12px;
}

.hint-text {
  font-size: 14px;
  color: grey;
  font-style: italic;
}

table.xtra-padding {
    border-collapse: separate;
    border-spacing: 20px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

.event-cover img {
  max-width: 100%;
  max-height: 250px;
}
.event-description img {
  max-width: 100%;
  max-height: 400px;
}

.event-description iframe {
  max-width: 100%;
  max-height: 400px;
}

.event-comment img {
  max-width: 100%;
  max-height: 800px;
}

.event-comment iframe {
  max-width: 100%;
  max-height: 800px;
}

.rsvp_history_chart rect {
  fill: #f16f53;
}

.rsvp_history_chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#rsvp_history_stats {
  text-align: right;
}

.reliability_chart rect {
  fill: steelblue;
}

.reliability_chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#reliability_stats {
  text-align: right;
}

.grid-cover-photo img {
  max-width: 100%;
  max-height: 300px;
}

.future-grid-title {
  font-size: 25px;
  position: relative; 
}

.overlay-text {
  position: absolute; 
  top: 5px; 
  left: 20px; 
  width: 40%; 
}

.overlay-text { 
   color: white; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.small-text {
  font-size: 12px;
  text-decoration: none;
}

.zero-margin-below {
  margin-bottom: 0px !important;
}

.dim img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.no-dec {
    text-decoration: none;
}

.no-dec hover{
    text-decoration: none !important;
}

.img-circle{
    border-radius: 50%;
}

.put-in-middle{
  vertical-align: middle !important;
}
