.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
  color: #000000;
}

.simple_form div.input {
  margin-bottom: 10px;
  color: #000000;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #222;
  display: block;
  font-style: italic;
}

.translucent {
  opacity: 0.8;
}

.panel-text {
  color: #000 !important;
}

.table-center {
  display:table;
  text-align:center;
  margin-left:auto; 
  margin-right:auto;
}

.simple_form label {
  width: 150px;
}

